<%- include('./partials/header') %>

<div>
  <img
    id="background"
    src="/images/wal2.jpg"
    alt="background GTA Vice City d'une voiture sur une coline qui surplomb une ville"
  />
</div>

<h1 id="main_title">Détails d'un accessoire</h1>
<div class="one-product-container-jeux">
  <div>
    <button class="btn-back" onclick="history.back();">Retour</button>
    <img class="img-jeux"src="<%= accessorie.image %>" alt="">
  </div>
  <div class="fiche-product">
    <h2><%= accessorie.console %></h2>
  <h3><%= accessorie.name %></h3>
  <h4>Date de sortie : <%= accessorie.date %></h4>
  <p><%= accessorie.description %></p>
  </div>
  

</div>

<%- include('./partials/footer') %>
