<%- include('./partials/header') %>

<div>
  <img
    id="background"
    src="/images/wal2.jpg"
    alt="background GTA Vice City d'une voiture sur une coline qui surplomb une ville"
  />
</div>

<h1 id="main_title">Détails d'une console</h1>
<div class="one-product-container">
  <div>
    <button class="btn-back" onclick="history.back();">Retour</button>
    <img src="<%= console.image%>" alt="">
  </div>
  <div class="fiche-product">
    <h2><%= brand.name%></h2>
  <h3><%= console.name %></h3>
  <h4>Date de sortie : <%= console.date %></h4>
  <p><%= console.description %></p>
  </div>
  

</div>


<%- include('./partials/footer') %>
